@font-face {
    font-family: farsi;
    src: url(Vazir-Regular.ttf);
}
*{
    text-decoration: none;
    user-select: none;
}
:root{
    --color-yellow:#fdb400;
    --color-blue:#3b50df;
    --color-pink:#ff5771;
    --color-text:#00005c;
    --color-background:#ebebeb;
}
/*---no scroll----*/
/* ::-webkit-scrollbar{
    display: none;
  } */

body{
    /* background-color: var(--color-background); */
    background: url(Asset\ 9.png) repeat;
    background-size: 15rem;
    font-family: farsi;
margin: 0%;
}
.top{
    
    margin: auto;
    position: fixed;
    top: 0%;
    right: 0%; 
    width: 100%;
    height: 10vh;
}
.white{
    height: 50px;
    background-color: white;
    width: 80%;
    margin: auto;
    font-family: farsi;
    justify-content: space-between; 
    border-radius: 0 0 20px 20px;
box-shadow: 0 0.25rem 3rem #000000;
}

.logo{
    height: 37px;
    position: absolute;
    width: auto;
    display: inline-block;
    left: 6vw;
    top: 3px;
  
}
.logoAll{
    height: 40px;
    position: absolute;
    width: 20vw;
    display: inline-block;
    left: 6vw;
    

}
.onvan{
    display: inline-block;
    color: rgb(0, 0, 0);
   margin-top: 3px;
    
}

.text{
    justify-content: space-evenly;
    vertical-align: middle;
    display: flex;
     position: absolute;
    top: 10px;
    right: 10vw;
    width: 60vw;
    margin-right: 3vw;
    font-weight: 900;
    text-align: center;
}
.rasa{
    position: relative;
    left: 45px;
    margin-left: 6vw;
    font-weight: 900;
    display: flex;
    top: 10px;
    margin-top: 0%;
    color: rgb(0, 0, 0);
}
/* -------  top menu style ---------------*/
.thefirst{
   width: 12vw;
   display: flex;
   
    box-shadow: inset 0 0 0 0 #ff3535;
    color: #000000;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.thefirst:hover{
    box-shadow: inset 12vw 0 0 0 #fdb400;
    color: white;
}


.title2{
    width: 12vw;
    display: flex;
    
    box-shadow: inset 0 0 0 0 #dfdc29;
    color: #000000;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.title2:hover{
    box-shadow: inset 12vw 0 0 0 #ff5871;
    color: white;
}
/*------------- MAIN PART ----------------*/
#tozihat{
width: 100%;
height: auto;
justify-content: center;
display: flex;
}
.tozih{
    height: 52%;
    background-color: white;
    border-radius: 20px;
    overflow-y: scroll;
    position: absolute;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
top: 90px;
box-shadow: 0rem 1rem 2rem 0px #000000;
overflow-y: hidden;
overflow-x: auto;
}
#bigtext{
    font-weight: bolder;
    color: #fffffff3;
    font-size: 2rem;
    bottom: 1vh;
    position: absolute;
    top: 1rem;
    margin: 0;
    justify-content: space-evenly;
}
.big{
    width: 100%;
    height: 15rem;
    background-image: linear-gradient(45deg, #00000038, #000000ed);
    position: absolute;
    top: 74vh;
    display: flex;
    justify-content: space-around;
}

.persian{
    display: flex;
    height: 25vh;
    width: 100%;
    margin-top: 10vh;
    background-color: #2b2b2b;
    justify-content: center;
    

}
#matn{
    position: relative;
    color: #ffffff;
    font-weight: 900;
    font-size: 100px;
    line-height: 3vh;
}
.bottom{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 3vh;
    color: #f4f7fc;
    bottom: 0;
    font-size: 0.8rem;
    left: 0%;
    line-height: 0vh;
}
/* ---------responsive-----*/
@media only screen and (max-width: 934px) {
    /* For tablets: */
    .text{
        font-weight: 800;
        top: 8px;
        right: 6vw;
        width: 60vw;
        margin-right: 2vw;
    }
    .thefirst{
        width: 25vw;
     }
   #bigtext{
    font-size: 1.5rem;
   }
   .thefirst:hover{
    box-shadow: inset 25vw 0 0 0 #fdb400;
}

.logo{
    height: 25px;
    left: 6vw;
    top: 3px;
}
.logoAll{
    left: 7vw;
}
.rasa{
    left: 30px;
    margin-left: 6vw;
    font-weight: 800;
    top: 7px;
}
.white{
    height: 45px;
}

  }

  @media only screen and (max-width: 488px) {
    /* For mobilephones: */
    .thefirst{
        width: 18vw;
    }
    .title2{
        width: 12vw;
    }
    .text{
        font-weight: 800;
        font-size: small;
        top: 6px;
        right: 3vw;
        width: 60vw;
        margin-right: 1vw;
    }
    .logo{
        height: 25px;
        left: 6vw;
        top: 3px;
    }
    .logoAll{
        left: 7vw;
    }
    .rasa{
        left: 8vw;
        margin-left: 6vw;
        font-weight: 800;
        top: 8px;
    }
    .white{
        height: 45px;
    }
    #bigtext{
        font-size: 1rem;
       }
  }








